# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
venv/
env/
ENV/
.venv/

# Django stuff
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/
*.sqlite3

# VSCode
.vscode/

# macOS/Linux/Windows
.DS_Store
Thumbs.db
